.checkoutFormBackground {
  background-image: url(./checkoutFormBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.checkoutFormHeader {
  color: #42434d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 40px;
  position: relative;
  text-align: center;
}

.price {
  color: rgba(32, 30, 30, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.paymentFormContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.paymentForm {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 40vw;
}

.paymentElementcontainer {
  padding-bottom: 20px;
  width: 100%;
}

.nameAndEmailInputsContainer {
  width: 100%;
}

.nameAndEmailInputs {
  display: flex;
  width: 100%;
}

.nameInput {
  margin-right: 12px;
  width: 100%;
}

.emailInput {
  width: 100%;
}

.label {
  color: #42434d;
  font-size: 15px;
  margin-bottom: 3px;
}

.stripeStyledInput {
  border-radius: 5px;
  border: 1.5px solid grey;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
  box-sizing: border-box;
  flex-grow: 1;
  margin-bottom: 15px;
  margin-right: 20px;
  padding: 10px;
  width: 100%;
}

.submitButton {
  align-items: center;
  background-color: #9d9d9d;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  width: 150px;
}

.submitButton:hover {
  color: #feccd7;
}

@media (max-width: 660px) {
  .paymentForm {
    width: auto;
  }
}
