.landingPageWrapper {
  height: 100%;
  width: 100%;
}

.heroPage {
  position: relative;
}

.bambooInkPaintingWrapper {
  display: flex;
  height: 110vh;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.chevronWrapper {
  bottom: 50px;
  height: 120px;
  position: absolute;
  right: 50px;
  width: 120px;
}

@media (max-width: 660px) {
  .bambooInkPaintingWrapper {
    display: none;
  }
}
