@font-face {
  font-family: "Inter-Thin";
  src: url("Inter-Thin.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("Inter-Bold.ttf");
}

.subscriptionSectionBackground {
  background-image: url("./goldenflower.jpg");
  background-position: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.pageContents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  font-family: "Inter-Thin";
  font-size: 73px;
  font-style: italic;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.cards {
  display: flex;
  justify-content: center;
}

.button {
  align-items: center;
  background-color: #e4987c;
  border-radius: 0;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: "Inter-Bold";
  font-size: 40px;
  font-style: bold;
  font-weight: 800;
  justify-content: center;
  line-height: 80px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  width: 100vw;
}

.button:hover {
  background-color: white;
  color: #e4987c;
  text-shadow: 1px 1px 2px white;
}
.footer {
  background-color: black;
  height: 15vh;
  width: 100vw;
}

@media (max-width: 660px) {
  .subscriptionSectionBackground {
    height: 200%;
  }

  .header {
    display: flex;
    font-size: 32px;
    font-weight: 600;
    padding: 20px 0 20px 0;
  }
  .cards {
    flex-direction: column;
    margin: 0 20px 0 20px;
  }

  .button {
    font-size: 20px;
  }
}

