.background {
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  position: relative;
  width: 100vw;
}

.backgroundIkebanaImage {
  background-image: url("./ikebana.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  width: 50vw;
}

.foregroundWrapper {
  color: rgb(206, 204, 204);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin: 50px 80px 80px 80px;
  width: 60vw;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  padding: 0 0 30px 0;
  z-index: 1;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  padding: 0 0 60px 0;
}

.description {
  line-height: 42px;
  font-size: 24px;
  padding: 0 0 60px 0;
}

.submitButtonSubscriptionPage {
  background-color: rgb(225, 223, 223);
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.submitButtonSubscriptionPage:hover {
  background-color: white;
}

@media (max-width: 660px) {
  .contentContainer {
    margin: 10px 25px 25px 25px;
    width: auto;
  }
  .backgroundIkebanaImage {
    background-size: cover;
    width: 100vw;
  }
  .title {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .subtitle {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .description {
    line-height: 23px;
    font-size: 18px;
    background: rgba(255, 226, 223, 0.09);
    color: rgb(225, 223, 223);
    padding: 5px;
    border-radius: 8px;
    backdrop-filter: blur(15px);
    padding: 15px;
    margin-bottom: 10px;
  }
  .background {
    display: flex;
    background-color: none;
    justify-content:center;
  }
  .submitButtonSubscriptionPage {
    width: 100%;
    font-size: 18px;
  }

}
