.successMessage {
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: 700;
}
.successMessageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
