.successMessage {
  align-items: center;
  background-image: url("./checkoutFormBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #626366;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: 700;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.successMessageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

@media (max-width: 660px) {
  .successMessage {
    text-align: center;
  }
}
