.errorText {
  color: #850f09;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.errorContainer {
  align-items: center;
  background-color: #ffe3f6;
  border-radius: 20px;
  border: 2px solid #850f09;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 100px;
  width: 326px;
}

.errorWrapper {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}
