.spinnerWrapper {
  align-items: center;
  background-image: url("loading.gif");
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.spinnerContainer {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}
