.pageWrapper {
  background-color: black;
  color: white;
  height: 100vh;
}

.title {
  align-items: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  justify-content: center;
  margin-top: 12px;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.descriptionTitle {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.submitButton {
  background-color: rgb(243, 237, 237);
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  width: 250px;
}

.submitButton:hover {
  background-color: thistle;
}
