.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin-top: 12px;
}
.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.descriptionTitle {
  display: flex;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.submitButton {
  height: 50px;
  width: 400px;
  cursor: pointer;
  border-radius: 20px;
  background-color: "thistle";
}

.submitButton:hover {
  background-color: coral;
}
